.header-wrapper {
	display: flex;
	justify-content: space-between; 
	padding-right: 20px;
	padding-left: 20px;
	align-items: center;
	background-color: rgba(255, 255, 255, 1);
}
.logo-wrapper {
	height: 70px;
}
.header-user {
	display: flex;
	gap: 10px;
	align-items: center;
}
.search-logo {
	width: 20px;
}
.user-icon {
	width: 45px;
}