.main-wrapper {
  background-color: rgba(23, 23, 34, 1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 5fr 19fr;
  padding: 5px;
  height: 100vh;
}
.map-wrapper {
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  position: relative;
}