.card-thumbnail-description {
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 0 0 10px 10px;
  display: grid;
  color: rgba(0, 0, 0, 1);
  grid-template-rows: min-content;
  padding: 10px
}
.card-date {
	display: flex; 
	justify-content: space-between;
}
.thumbnail-warning-button {
  background-color: rgba(201, 84, 82, 1);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  color: rgba(255, 255, 255, 1);
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
  font-weight: 600;
}